################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JACUniversity/JACUniversity/bin/Debug/netcoreapp2.1
